.header,
.outer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

a.error-cta {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, .7);
  padding: 8px 12px;
  font-weight: 300;
  font-size: 12px;
  text-decoration: none;
  border-radius: 5px
}

a:hover {
  border-color: #fff
}

.wrap {
  display: table;
  margin: 0 auto;
  height: 95%
}

.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2vw
}

.logo svg {
  height: 35px;
}

.logo svg g,
.logo svg path {
  fill: #fff
}

.content {
  padding: 0 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center
}

h1,
h2 {
  padding: 0;
  color: #fff
}

h1 {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 70px;
  line-height: 1.1em;
  letter-spacing: -1px;
}

h2 {
  margin: 0;
  font-weight: 200;
  font-size: 23px;
  line-height: 1.3em;
  letter-spacing: 1px
}

@media screen and (max-width:800px) {
  h1 {
    font-size: 6.5vw;
    letter-spacing: 2px
  }

  h2 {
    font-size: 14px
  }
}

.outer {
  bottom: 0;
  background-size: cover;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAAVklEQVQIWx3KMQ5AQBBA0b8ziGTDXRQ6UagdReIU7qnTS8SGtUO0L8+Nw2LbvlJRU54F6bkJmrBccX072SMRkUSMGYJCOhDzuK6Z7baII3xsiPo/qV28zwQglHkpGTsAAAAASUVORK5CYII=");
}